 *{
  font-family: 'Montserrat', sans-serif;
 }
 .container-fluid.gradient{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
    min-height: 100vh;

  }
  #exampleModal {
    min-width: 400px;
  }
  #bgdark {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
  }
 
  form{
    border-radius: 20px;
  }
  .navbar-brand {
    font-size: 20px;
    font-weight: 700;
  }
  h6{
    font-size: 15px;
    font-weight: 600;
  }
  p{
    font-size: 15px;
    font-weight: 400;
  }
  label{
    font-size: 12px;
    font-weight: 500;
  }
  .form-control{
    font-size: 10px;
  }
  #ajouter{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #ajouter.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }